---
title: farms
layout: default
permalink: /farms/
custom_css: leaflet
custom_js: 
- leaflet
- FayetteCountyPAGeoJSON
category_title: Fayette Fresh Farms
exemplar_statement: Check out these local <strong>Fayette County</strong> farms!
---

<h2 class="category-statement text-centered">Discover <strong>Fayette County's</strong> farms! Buy direct or from local <a href="{{ site.baseurl }}/food/">shops and restaurants</a>!</h2>

<div id="mapid"></div>

<!-- {% include category_checkboxes.html %} -->
<div class="checkboxValues text-centered">
    <label for="checkbox-beef">Beef</label>
    <input type="checkbox" id="checkbox-beef" class="checkbox" value="beef" checked />
    <label for="checkbox-beef">Vegetables</label>
    <input type="checkbox" id="checkbox-vegetables" class="checkbox" value="vegetables" checked />
    <label for="checkbox-beef">Fruit</label>
    <input type="checkbox" id="checkbox-fruit" class="checkbox" value="fruit" checked />
</div>

{% assign category_file = site.data.farms %}

{% include category_exemplar.html %}

<script>
	{% include farms.js %}
    {% include site.js %}
</script>
