<section id="about-us" class="about-us">
  <div class="text-centered text-vertical-centered">
    <h2 class="lead-statement"><strong>Welcome to Fayette Fresh!</strong></h2>
    
    <p class="lead-statement"><strong>Fayette Fresh is a Fayette County, PA based blog focused on 
  local food, culture, commerce, and ideas. Our goal is to catalog, map, and discuss local farmers, food producers, artisans, unique shopping and dining options, trails, and other efforts that aim to improve the lives of residents and attract visitors.</strong></p>
     
    <!-- <a href="/farms/" class="button">Check out the farms!</a> -->
		<!-- <a href="/recycle/" class="button">Uniontown Recycling Map!</a> -->

  </div>
</section>