<section id="about-us" class="about-us">
  <div class="text-centered">
    <h2 class="lead-statement">Welcome to Fayette Fresh!</h2>
    
    <p class="lead-statement">Fayette Fresh is a Fayette County, PA based blog focused on 
  local food, culture, commerce, and ideas. Its primary goal is to catalog, map (see below), and discuss local farmers, food producers, artisans, unique shopping and dining options, as well as other efforts that aim to improve the lives of residents and attract visitors.</p>
     
    <a href="/farms/" class="button">Check out the farms!</a>
		<a href="/recycle/" class="button">Uniontown Recycling Map!</a>

  </div>
</section>