<section id="activities" class="activities text-centered">
	<h2>Our Activities</h2>
	<hr class="horz-bar">
	<div class="container-activities">
		<div class="activity">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-building fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Work</strong></h4>
			<p>We discuss, promote, and grow the local employment opportunities available in Fayette County</p>
		</div>
		<div class="activity">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-cutlery fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Socialize</strong></h4>
			<p>We regularly meet at local establishments to discuss our careers, interests, and goals in a casual, friendly atmosphere</p>
		</div>
		<div class="activity">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-cogs fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Development</strong></h4>
			<p>Regular enrichment activities, learning opportunities, and volunteer efforts help us to increase our professional skills.</p>
		</div>
		<div class="activity">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-graduation-cap fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Education</strong></h4>
			<p>We are committed to helping the next generation through educational outreach and <a href="http://www.fayetteproam.org/">scholarships</a></p>
		</div>
	</div>
</section>