<section id="exemplars" class="exemplars">
	<hr class="horz-bar">
	
	<div class="container-exemplars">

		{% for exemplar in category_file %}

			<div class="modal">
				<label for="modal-{{exemplar.name | replace: ' ', '-' }}">
					<div class="exemplar {{ exemplar.products | remove: "," | downcase }}  modal-trigger">
						<div class="img-container">
							<img src="{{ site.baseurl }}/img/{{exemplar.image}}" alt="">
						</div>
						<div class="exemplar_info">
							<h4><strong>{{ exemplar.name }}</strong></h4>
							<p>{{ exemplar.town }}</p>
						</div> 
					</div>
				</label>

				<input class="modal-state" id="modal-{{exemplar.name | replace: ' ', '-' }}" type="checkbox" />
			  <div class="modal-fade-screen">
			    <div class="modal-inner">
			      <div class="modal-close" for="modal-{{exemplar.name | replace: ' ', '-' }}"></div>
			      <strong>{{ exemplar.name }}</strong>
						{% if exemplar.website %}
							<p><a href="{{ exemplar.website }}">Website</a></p>
						{% endif %}
						{% if exemplar.facebook %}
							<p><a href="{{ exemplar.facebook }}">Facebook</a></p>
						{% endif %}
			      <p class="modal-intro">{{ exemplar.description }}</p>
			    </div>
	  		</div>	
			</div>
		{% endfor %}

	</div>
</section>


