<section id="exemplars" class="exemplars">
	<hr class="horz-bar">

	<p class="category-statement text-centered">{{ page.category_statement }}</p>

	<div class="container-exemplars">

		{% for exemplar in category_file %}
			<div class="exemplar {{ exemplar.products | remove: "," | downcase }}">
				<img src="{{ site.baseurl }}/img/{{exemplar.image}}" alt="">
				<div class="exemplar_info">
					<h4><strong>{{ exemplar.name }}</strong></h4>
					<p>Town Name</p>
				</div> 
			</div>	

		{% endfor %}

	</div>
</section>