<section id="feature-event" class="feature-event">
  <div class="text-centered">
    <h2>FYPN Feature Event -- Fayette Pro-Am Golf Tournament!</h2>
    <hr class="horz-bar">
    <div class="event">
    	{% assign event = site.data.feature_event.pro_am %}
      <h3>** {{ event.title }} **</h4>
      {% if event.image %}
        <img class="event-logo" src="{{ site.baseurl }}{{ event.image }}" alt="">
      {% endif %}
      <h4>Time/Date: {{ event.date | date: '%b %-d, %Y' }} -- {{ event.time }}</h4>
      <h4>Location: {{ event.location }}</h4>
      <h4>Address: {{ event.address }}</h4>
      {% if event.link %}
        <h4><a href="{{ event.link }}">Click here</a> for more information!</h4>
      {% endif %}
      <p class="event-statement"> {{ event.description }}</p>
    </div>
  </div>
</section>