<section id="item-tiles" class="item-tiles">
    <hr class="horz-bar">

    <div class="item-tiles-container" id="item-tiles-container">
    {% for item in item_file %}
        <div class="item" data-itemnumber="{{ forloop.index }}" data-itemkeywords="{{ item.keywords }}">
            <div class="item-image"></div>
            <div class="item-name-box flex-center">
                <div class="item-name text-centered"><strong>{{ item.name }}</strong></div>
            </div>
            <div class="item-tile-info text-centered">
                <p class="item-town">{{ item.town }}</p>
                {% if item.website %}
                    <a href="{{ item.website }}">
                        <i class="fa fa-link fa-2x" aria-hidden="true"></i>
                    </a>
                {% endif %}
                {% if item.facebook %}
                    <a href="{{ item.facebook }}">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    </a>
                {% endif %}
                {% if item.instagram %}
                    <a href="{{ item.instagram }}">
                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a>
                {% endif %}                
            </div>
        </div>
    {% endfor %}
    </div>
</section>