<section id="members" class="members text-centered">
	<h2>Active Members</h2>
	<hr class="horz-bar">
	<p class="member-statement">FYPN's members represent a diverse array of industries, employers, and interests. We are proud to live and work in Fayette County and look forward to you joining us!</p>
	<div class="container-members">
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #1</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #2</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #3</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #4</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #5</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #6</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #7</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #8</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #9</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #10</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #11</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #12</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #13</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #14</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #15</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #16</strong></h4>
			<p>Employer</p> 
			<p>Industry/Sector</p>
		</div>
	</div>
</section>