<section id="upcoming-events" class="upcoming-events text-centered">
  <h2>Upcoming Events</h2>
  <hr class="horz-bar">
  {% for event in site.data.events %}
    <div class="event">
      <h3>** {{ event.title }} **</h4>
      <!-- {% if event.image %}
        <img class="event-logo" src="{{ site.baseurl }}{{ event.image }}" alt="">
      {% endif %} -->
      {% if event.image %}
        <a href="{{ site.baseurl }}{{ event.image }}" class="post-link"><img class="event-logo" src="{{ site.baseurl }}{{ event.image }}" alt=""></a>
      {% endif %}
      <h4>Time/Date: {{ event.date | date: '%b %-d, %Y' }} -- {{ event.time }}</h4>
      <h4>Location: {{ event.location }}</h4>
      <h4>Address: {{ event.address }}</h4>
      <p class="event-statement"> {{ event.description }}</p>
    </div>
  {% endfor %}
</section>