

/* Header */

.header {
	display: table;
	height: 100vh;
	width: 100vw;
	// background: url(../img/jumonville.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.header img {
	width: 50vw;
}

/* About Us */

.about-us img {
  max-width: 13em;
  // max-height: 12vw;
}

/* Activities */

.activities {
	background: #40abd9;
  color: white;
}

.activity {
	// padding: 0 1em;
}

/* Text */
h2 {
	margin-top: 0.5em;
	font-size: 1.5em;
}

h3 {
	font-size: 1.35em;
}

h4 {
	font-size: 1.2em;
}

.lead-statement {
	margin-bottom: 1.3em;
}

.text-centered {
	text-align: center;
}

.text-vertical-centered {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.text-icons {
	color: $text-color;
}

.fa-circle {
	color: #eec10b;
}


.container-activities, .container-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	padding: 0 5vw;
}

// @media (min-width: 769px) {
// 	.container-members {
// 		padding: 0 20vw;
// 	}
// }

@media (min-width: 769px) {

	.container-members {
		padding: 0 5vw;
	}	
}


.activity, .member {
	// background: orange;
	margin-bottom: 1em;
}

.activity {
	max-width: 200px;
}

.members {
	background: #f2f2f2;
	padding: 40px 0;
}

.member {
	// max-width: 180px;
}

.member-statement, .join-statement, .lead-statement, .event-statement {
	padding: 0 15vw;
	margin-bottom: 0.5em;
}

.horz-bar {
	border: 0;
	border-top: 1px solid;
  max-width: 100px;
  margin: 0 auto 1em;
}

section.activities > hr {
	border-top-color: #eee;
}

section.members, section.upcoming-events > hr {
	border-top-color: #222;
}

.event {
	margin: 1.5em 0;
}

.event h3 {
	font-weight: bold;
}

.event-logo {
	margin: 0.5em 0 1em;
	width: 25vw;
}

.feature-event .event-logo {
	width: 50vw
}

.copyright {
	color: #777;
}

.list-unstyled {
	margin: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}


section {
	padding: 2em 0;
}