
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include scripts.html %}

<body>

  <!-- {% include navigation.html %} -->
  {% include header.html %}
  {% include about-us.html %}
  {% include activities.html %}
  {% include map.html %}
  <!-- {% include feature-event.html %} -->
  <!-- {% include upcoming-events.html %} -->
  <!-- {% include members.html %} -->
  <!-- {% include callout-to-join.html %} -->
  <!-- {% include map.html %} -->
  {% include footer.html %}
  <!-- {% include scripts.html %} -->
  
</body>

</html>